<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="jsx-none"></div>
    
    <script>
        const name = "홍길동";
        const element = document.createElement("h1");
        element.innerHTML = "hello, world! " + name;

        const container = document.getElementById("jsx-none");
        container.appendChild(element);
    </script>    
</body>
</html>